.image {
    height: 50px;
    width: 50px;
}

.hourlyWeatherContainer {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 
    justify-content: center;
}
.hourlyWeatherHeader {
    color:#ffffff;
    align-self: center;
    justify-content: center;
}

.hourlyBaseContainer {
    display: flex;
    border-color: gold;
    border-width: 2px;
    border-style: hidden;
    flex-direction: row ;
    align-items: center;
}

.hourlyTempContainer {
    width:20%;
    margin:0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hourlyDayContainer {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width:30%;
}

.hourlyConditionContainer {
    width:35%;
    margin:0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hourlyImageContainer {
    width:20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hourlyDataDisplay {
    margin:10px;
    color:#ffffff !important;
}
.hourDataDisplay {
    margin:10px;
    color:#ffffff !important;
}