.eventNavContainer {
    display:flex;
    flex-direction: row;
    height:60px;
    width:100%;
    display: flex;
    list-style: none;
}

.eventNavDispButton {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    height:100%;
    width:100px;
    margin-top:auto;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: auto;
    text-align: center;
    background-color: #333333;
    color:#eeeeee;
    align-content: center;
}

.eventNavDispButtonActive{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    float: left;
    height: 100%;
    width: 100px;
    background-color: #eeeeee;
    color:#333333;
}  