
.navContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeeee;
  }
  

  
  .navlink {
    display: block;
    top:0;
    color: #333333;
    text-align: center;
    text-decoration: none;
    padding:20px;
    float: left;
    width:80px;
    font-size:17px;
  }
  
  .navlink:hover:not(.active) {
    background-color: #333333;
    color:#eeeeee
  }
  
  .navactive {
    background-color: #333333;
    color:#eeeeee
  }