.eventContainer {
    height:540px;
    width:100%;
    background-color: #eeeeee;
    overflow-y: auto;
    overflow-x: hidden;
}
#eventsDiv {
    height:100%;
    width:100%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}
.event {
    float:left;
    width:100%;
    padding:5px,10px;
}
.container {
    display:flex;
    flex-direction: column;
    position: relative;
    width:100%; 
    padding:20px;
    height: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b3b3b3;
}
.baseInformation {
    display: flex;
    flex-direction: column;
    width:100%
}

.dateTextDisplay {
    width:100%;
    margin:10px;
    color:#666666;
    text-align: center;
}

.dateDisplay {
    width:100%;
}

#delButton {
    float: right;
    border-radius: 5px;
    padding:10px 20px;
    background-color: red;
    float:right;
    color:white;
    font-size: 20px;
   
}
#buttondiv {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display:table-cell;
    height:100%;
    width:100%;
    margin-left:50%;
    position: relative;
}
.img {
    max-width: 40px;
    text-align: center;
    border-color: black;
    border-width: 10px;
    height:100%;
    width:70%;
    display: inline-block;
}
.row {
    height: 100%;
}