.image {
    height: 50px;
    width: 50px;
}

.weatherContainer {
    width: 100%;
    border-top-color: #b3b3b3 !important;
    border-bottom-color: #b3b3b3 !important;    
    border-bottom: 1px solid;
    border-radius: 0px;
    overflow: visible;
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: center;
    display: table;

}

.baseContainer {
    height: 89px !important;
    display: flex;
    overflow: hidden;
    flex-direction: row ;
    align-items: center;
}

.tempContainer {
    width:20%;
    margin:0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.dayContainer {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width:30%;
}

.conditionContainer {
    width:35%;
    margin:0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.imageContainer {
    width:20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.otherInfoContainer {
    display: table-row-group;
    margin-left:15%;
    border-left-color: #b3b3b3 !important;
    border-left: 2px solid;
    margin-bottom: 1%;
    color:#ffffff !important;
}

.otherInfo {
    padding:10px; 
    padding-left: 30px;
}

.dataDisplay {
    margin:10px;
    color:#ffffff !important;
}

.conditionDisplay {
    color: #ffffff;
}